# Traitement de données
pandas
numpy
scikit-learn

# Visualisation
matplotlib
seaborn

# NLP & Transformers
transformers
sentencepiece
datasets
tokenizers

# PyTorch
torch

# Interface
streamlit
gdown
